@charset "UTF-8";
/* CSS Document */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select::-ms-expand {
    display: none !important;
}

.pullLeft {
    float: left;
}

.pullRight {
    float: right;
}

#main, #header, .contentMain, #footer {
    width: 100%;
}

#main, .contentMain {
    background-color: #efefef;
}

#innerPage {
    padding-top: 92px;
}

#header, #footer {
    background-color: #fff;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Combo box */
.custom-dropdown {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.custom-dropdown--large {
    font-size: 1.250em;
}

.custom-dropdown--small {
    font-size: 1.250em;
}

.custom-dropdown__select {
    /* accommodate with the pseudo elements for the dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 2.6em;
    padding: 0.5em 1.750em 0.5em 1em;
    /* add some space*/
    margin: 0;
    border: none;
    border-radius: 3px;
    /* remove default margins */
    font: 1.250em/1.6em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    color: rgba(0,0,0,.9);
    /* inherit size from .custom-dropdown */
    background: #fff;
}

ul.search_list .custom-dropdown__select {
    height: 2.5em;
    line-height: 1.5em;
    border: #c4c4c4 1px solid;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after {
    /* Custom dropdown arrow */
    width: 2.188em;
    height: 100%;
    background: left center url('../images/combo_arw.png') no-repeat;
    -webkit-background-size: 2.188em auto;
    background-size: 2.188em auto;
    right: 0;
    top: 0;
}

.custom-dropdown::before {
    /* Custom dropdown arrow cover */
    width: 2.188em;
    height: 100%;
    right: 0;
    top: 0;
}

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.5);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: 0;
        bottom: 0;
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select {
            padding-right: 1.750em;
        }

        .custom-dropdown--large .custom-dropdown__select {
            padding-right: 1.750em;
        }

        .custom-dropdown--small .custom-dropdown__select {
            padding-right: 1.750em;
        }
    }
}

/* Buttons */
.defaultBtn {
    height: 2.778em;
    margin: 0;
    padding: 0 1.111em;
    border-width: 0 0 3px 0;
    border-color: #d93c30;
    border-style: solid;
    border-radius: 3px;
    font: 1.125em/2.778em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    color: #FFF;
    text-align: center;
    background-color: #f4511e;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

.defaultBtn:hover,
.defaultBtn:active {
    background-color: #d93c30;
}

.primaryBtn {
    height: 3.056em;
    margin: 0;
    padding: 0;
    display: block;
    border-width: 0 0 3px 0;
    border-color: #13386f;
    border-style: solid;
    border-radius: 3px;
    font: 1.125em/3.056em 'source_sans_prosemibold' ,Arial,Helvetica,sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #194991;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

.primaryBtn:hover,
.primaryBtn:active {
    background: #13386f;
}

.secondaryBtn {
    height: 2.778em;
    margin: 0;
    padding: 0 1.111em;
    display: block;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    font: 1.125em/2.778em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    color: #4d4d4d;
    text-align: center;
    background-color: #efefef;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

.secondaryBtn:hover {
    background: #E1E1E1;
}

/*Scroll bar*/
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 10px !important;
    background: #dadada !important;
    border-radius: 0 !important;
}

.mCSB_draggerRail {
    width: 10px !important;
    background: #ebebeb !important;
    border-radius: 0 !important;
}

h1 {
    font: 1.750em/1.607em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    color: #3b3b3b;
}

label.lbl01 {
    display: block;
    font: 1em/1.250em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    color: #585f69;
}

input[type="checkbox"].chk01 {
    margin: 0;
    padding: 0;
}

input[type="text"].input01,
input[type="email"].input01 {
    display: block;
    margin: 0;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    font: 16px/35px 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    height: 35px;
    padding: 0 15px;
    color: #484848;
}

.txtarea01 {
    display: block;
    width: 100%;
    margin: 0;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    font: 16px/35px 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    height: 100px;
    padding: 0 15px;
    color: #484848;
    overflow: auto;
}

/* Popups */
.popupMain {
    width: 550px;
    padding: 0.250em;
    background-color: #efefef;
}

.popupMain .popupHeader {
    display: block;
    position: relative;
}

.popupMain .popupHeader h4 {
    display: block;
    font: 1.500em/2.083em 'source_sans_prosemibold' ,Arial,Helvetica,sans-serif;
    color: #484848;
    text-align: center;
}

.popupMain .popupHeader a {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 22px;
    bottom: 8px;
}

.popupMain .popupContent {
    display: block;
    padding: 2.188em 0;
    background-color: #fff;
}

.popupMain #detailsForm {
    max-width: 350px;
    margin: 0 auto;
}

.popupMain #detailsForm input[type="text"],
.popupMain #detailsForm input[type="email"],
.popupMain #detailsForm input[type="tel"] {
    width: 100%;
    display: block;
    margin: 0 0 1.111em 0;
    padding: 0.778em 0.833em;
    border: #bfbfbf 1px solid;
    border-radius: 3px;
    font-size: 1.125em;
    line-height: 1.111em;
    color: rgba(0,0,0,.9);
    background-color: #ececed;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.popupMain #detailsForm input[type="text"]::-webkit-input-placeholder,
.popupMain #detailsForm input[type="email"]::-webkit-input-placeholder,
.popupMain #detailsForm input[type="tel"]::-webkit-input-placeholder {
    color: rgba(72,72,72,0.5);
}

.popupMain #detailsForm input[type="text"]:-moz-placeholder ,
.popupMain #detailsForm input[type="email"]:-moz-placeholder ,
.popupMain #detailsForm input[type="tel"]:-moz-placeholder {
    color: rgba(72,72,72,0.5);
}

.popupMain #detailsForm input[type="text"]::-moz-placeholder,
.popupMain #detailsForm input[type="email"]::-moz-placeholder,
.popupMain #detailsForm input[type="tel"]::-moz-placeholder {
    color: rgba(72,72,72,0.5);
}

.popupMain #detailsForm input[type="text"]:-ms-input-placeholder,
.popupMain #detailsForm input[type="email"]:-ms-input-placeholder,
.popupMain #detailsForm input[type="tel"]:-ms-input-placeholder {
    color: rgba(72,72,72,0.5);
}

.popupMain #detailsForm button {
    width: 100%;
}

.popupMain #fareForm,
.popupMain #thankyouForm {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
}

.popupMain #fareForm ul {
    display: table;
    margin-bottom: 1.250em;
}

.popupMain #fareForm ul li {
    padding: 0.250em 0 0 0;
    display: table-cell;
    border-right: #ececec 1px solid;
    vertical-align: top;
    font: 1.250em/1.300em 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    color: #484848;
}

.popupMain #fareForm ul li:last-child {
    border-right: none;
}

.popupMain #fareForm ul li span {
    display: block;
    margin-top: 0.682em;
    font-size: 1.100em;
    color: #f4511e;
}

.popupMain #fareForm ul li input[type="number"] {
    width: 3.4em;
    display: block;
    margin: 0.682em auto 0;
    padding: 0.350em 0 0.350em 0.750em;
    border: #bfbfbf 1px solid;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0,0,0,.9);
    background-color: #ececed;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.popupMain #fareForm ul li input[type="number"]::-webkit-inner-spin-button,
.popupMain #fareForm ul li input[type="number"]::-moz-inner-spin-button,
.popupMain #fareForm ul li input[type="number"]::inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    display: block;
    color: #7b7b7b;
    text-align: center;
    position: relative;
}

.popupMain #fareForm ul li input[type="number"]::-webkit-inner-spin-button:before,
.popupMain #fareForm ul li input[type="number"]::-moz-inner-spin-button:after,
.popupMain #fareForm ul li input[type="number"]::inner-spin-button:after {
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    line-height: 1em;
    position: absolute;
    right: 10px;
}

.popupMain #fareForm ul li input[type="number"]::-webkit-inner-spin-button:before,
.popupMain #fareForm ul li input[type="number"]::-moz-inner-spin-button:before,
.popupMain #fareForm ul li input[type="number"]::inner-spin-button:before {
    content: "\e252";
    top: 0px;
}

.popupMain #fareForm ul li input[type="number"]::-webkit-inner-spin-button:after,
.popupMain #fareForm ul li input[type="number"]::-moz-inner-spin-button:after,
.popupMain #fareForm ul li input[type="number"]::inner-spin-button:after {
    content: "\e253";
    bottom: 0px;
}

.popupMain #fareForm .totalFare {
    display: block;
    margin-bottom: 1em;
    padding: 0.350em 0;
    border-width: 1px 0;
    border-color: #cacaca;
    border-style: solid;
    font: 1.250em/1.600em 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    color: #484848;
    background-color: #f5f5f6;
}

.popupMain #fareForm .totalFare span {
    display: inline-block;
    margin-left: 15px;
    font-size: 1.600em;
    line-height: 1em;
    color: #f4511e;
}

.popupMain #fareForm p {
    display: block;
    margin-bottom: 1.111em;
    font: 1.125em/1em 'source_sans_proitalic', Arial, Helvetica, sans-serif;
    color: #484848;
    opacity: 0.7;
}

.popupMain #fareForm button {
    min-width: 350px;
}

.popupMain #thankyouForm h5 {
    display: block;
    margin-bottom: 1.111em;
    font: 1.5em/1em 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    color: #f4511e;
}

.popupMain #thankyouForm p {
    display: block;
    margin-bottom: 1.111em;
    font: 1.125em/1.333em 'source_sans_proitalic', Arial, Helvetica, sans-serif;
    color: #484848;
}

.popupMain #thankyouForm button {
    min-width: 350px;
}

/* Header */
#header {
    padding-bottom: 1px;
    border-bottom: #dedede 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

#header .wrapper {
    padding-right: 80px;
    position: relative;
}

#header .mblNav,
.nav-overlay {
    display: none;
}

#header .logo {
    width: 170px;
    margin: 14px 0;
}

#header .logo img {
    width: 100%;
    height: auto;
    display: block;
}

#header .offers {
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
}

#header .offers img {
    display: block;
    margin: 0 auto;
}

#header .headerNav {
    margin-top: 18px;
}

#header nav {
    margin-top: 20px;
}

ul.navigation li {
    float: left;
    margin-left: 10px;
}

ul.navigation li:first-child {
    margin-left: 0;
}

ul.navigation li.mblShow {
    display: none;
}

ul.navigation li a {
    display: block;
    border-bottom: #FFF 4px solid;
    padding: 0 10px 28px;
    font: 18px/20px 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    color: #484848;
    text-transform: uppercase;
    transition: all 0.5s;
}

ul.navigation li:hover a,
ul.navigation li:active a,
ul.navigation li.active a {
    border-color: #f4511e;
    color: #f4511e;
}

#header .signIn {
    margin: 8px 30px 5px;
    padding: 10px 18px;
    border: #d5d5d5 2px solid;
    border-radius: 3px;
    font: 18px/20px 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    color: #484848;
    text-transform: uppercase;
    transition: all 0.5s;
}

#header .signIn:hover,
#header .signIn:active {
    border-color: #f4511e;
    color: #f4511e;
}

#header .toolFree {
    margin-bottom: 15px;
    padding: 10px 0 10px 25px;
    border-left: #dedede 1px solid;
    font-size: 14px;
    line-height: 1em;
    color: #343434;
    text-transform: uppercase;
}

#header .toolFree span {
    display: block;
    font-size: 22px;
    line-height: 23px;
    color: #f4511e;
}

/* Home Page */
#homePage .section {
    overflow: hidden;
}

#homePage h1 {
    font: 4.750em/1em 'source_sans_prolight', Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

#homePage h3 {
    display: inline-block;
    font-size: 2em;
    line-height: 1.063em;
    color: #191919;
    text-transform: uppercase;
    position: relative;
    opacity: 0.8;
}

#homePage h3:before,
#homePage h3:after {
    content: "";
    width: 4.219em;
    height: 1px;
    display: block;
    margin: 0.516em 0;
    background-color: rgba(172,172,172,0.5);
    position: absolute;
    top: 0;
}

#homePage h3:before {
    left: -4.5em;
}

#homePage h3:after {
    right: -4.5em;
}

#homePage h6 {
    font-size: 1.375em;
    line-height: 1.591em;
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(58,29,6,0.4);
}

#homePage h6:before,
#homePage h6:after {
    content: "";
    width: 7.955em;
    height: 0.045em;
    display: block;
    margin: 0.773em 0;
    background-color: rgba(255,255,255,0.3);
}

#homePage h6:before {
    float: left;
    margin-right: 0.455em;
}

#homePage h6:after {
    float: right;
    margin-left: 0.455em;
}

#findTempo {
    text-align: center;
    background: center center url('../images/section_1.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#findTempo .cityOption,
#findTempo .hateToFill {
    display: table;
    margin: 0 auto;
}

#findTempo .cityOption {
    margin-top: 1.875em;
}

#findTempo .cityOption label {
    margin: 0 0.625em;
    font-size: 1.5em;
    line-height: 26px;
    color: #ffffff;
    background: left 0 url('../images/radio_bg.png') no-repeat;
}

#findTempo .cityOption label.checked {
    background: left -174px url('../images/radio_bg.png') no-repeat;
}

#findTempo .cityOption label input[type="radio"] {
    width: 26px;
    height: 26px;
    margin: 0 10px 0 0;
    opacity: 0;
}

#findTempo .findFilter {
    margin-top: 2.188em;
    padding: 1em 1.250em;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.25);
}

#findTempo .findFilter .selectCity {
    width: 17%;
    margin-right: 1%;
}

#findTempo .findFilter .fromTo {
    width: 38%;
    margin-right: 1%;
}

#findTempo .findFilter .fromTo input {
    width: 49.5%;
    height: 3.250em;
    padding: 0.625em 2.188em 0.625em 1.250em;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    line-height: 2em;
    box-shadow: none;
    background: #FFF right center url('../images/combo_arw.png') no-repeat;
    -webkit-background-size: 2.188em auto;
    background-size: 2.188em auto;
}

#findTempo .findFilter .dateTime {
    width: 27%;
    margin-right: 1%;
}

#findTempo .findFilter .dateTime .pullLeft {
    width: 55%;
}

#findTempo .findFilter .dateTime .pullRight {
    width: 43%;
}

#findTempo .findFilter .dateTime .form-group {
    margin-bottom: 0;
}

#findTempo .findFilter .dateTime .form-control {
    height: 3.250em;
    padding: 0.625em 0 0.625em 1.250em;
    border: none;
    border-radius: 3px 0 0 3px;
    font-size: 1em;
    line-height: 2em;
    box-shadow: none;
}

#findTempo .findFilter .dateTime .input-group-addon {
    width: 2.188em;
    height: 3.250em;
    padding: 0;
    border: none;
    border-radius: 0 3px 3px 0;
    font-size: 1em;
    line-height: 2em;
    background: #FFF left center url('../images/combo_arw.png') no-repeat;
    -webkit-background-size: 2.188em auto;
    background-size: 2.188em auto;
}

#findTempo .findFilter .submission {
    width: 15%;
}

#findTempo .findFilter .submission button {
    width: 100%;
    height: 2.889em;
    text-transform: uppercase;
}

#findTempo .hateToFill {
    margin-top: 3.750em;
}

#findTempo .hateToFill .callUs {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(58,29,6,0.4);
}

#findTempo .hateToFill .callUs span {
    display: block;
    font-size: 2.750em;
    line-height: 1em;
}

#howitWorks {
    padding: 3.125em 0;
}

#howitWorks > div {
    max-width: 1380px;
    margin: 0 auto;
    position: relative;
}

#howitWorks > div a {
    width: 50%;
}

#howitWorks > div a img {
    width: 100%;
    height: auto;
    display: block;
}

#howitWorks > div .desc {
    width: 60%;
    height: 68%;
    padding: 3.125em 3.750em;
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
    position: absolute;
    right: 0;
    top: 16%;
}

#howitWorks > div .desc h2 {
    display: block;
    font-size: 3.125em;
    line-height: 1em;
    color: #f4511e;
}

#howitWorks > div .desc p {
    display: block;
    font-size: 1.125em;
    line-height: 1.667em;
    color: #ffffff;
}

#videoPopup {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#videoPopup > a {
    width: 1.875em;
    height: 1.875em;
    font-size: 1em;
    line-height: 1.875em;
    color: #333;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    right: 1em;
    top: 3em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
 /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe,
.videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#theProcess {
    padding: 3.125em 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b3749+0,2f5271+100 */
    background: #2b3749;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMzc0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjUyNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #2b3749 0%, #2f5271 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b3749), color-stop(100%,#2f5271));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2b3749 0%,#2f5271 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2b3749 0%,#2f5271 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2b3749 0%,#2f5271 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #2b3749 0%,#2f5271 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3749', endColorstr='#2f5271',GradientType=0 );
    /* IE6-8 */
}

#theProcess .wrapper {
    text-align: center;
}

#theProcess h3 {
    color: #FFF;
}

.processHolder {
    width: 98%;
    max-width: 1350px;
    display: block;
    margin: 9.375em auto 0;
    position: relative;
}

.processHolder img {
    width: 100%;
    height: auto;
    display: block;
}

.processHolder .truck {
    width: 7.3%;
    position: absolute;
}

.processHolder .binkImg {
    width: 7.3%;
    position: absolute;
    right: 4.5%;
    top: 71%;
}

.processHolder .binkImg img.smallTruck {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.processHolder .waves {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.wave1 {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    bottom: 35%;
    right: 35%;
    z-index: 1;
    opacity: 0;
    border: 3px solid #fdb94d;
    border-radius: 50%;
    -webkit-animation: wavejg1 2s linear infinite;
    -moz-animation: wavejg1 2s linear infinite;
    animation: wavejg1 2s linear infinite;
}

.wave2 {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    z-index: 2;
    opacity: 0;
    border: 2px solid #fdb94d;
    border-radius: 50%;
    -webkit-animation: wavejg2 2s linear infinite;
    -moz-animation: wavejg2 2s linear infinite;
    animation: wavejg2 2s linear infinite;
}

.wave3 {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
    z-index: 3;
    opacity: 0;
    border: 1px solid #fdb94d;
    border-radius: 50%;
    -webkit-animation: wavejg2 2s linear infinite;
    -moz-animation: wavejg2 2s linear infinite;
    animation: wavejg2 2s linear infinite;
}

@-webkit-keyframes wavejg1 {
    0% {
        -webkit-transform: scale(.5);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(.6);
        opacity: .1;
    }

    60% {
        -webkit-transform: scale(.8);
        opacity: .3;
    }

    70% {
        -webkit-transform: scale(1);
        opacity: .5;
    }

    80% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes wavejg1 {
    0% {
        -moz-transform: scale(.5);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(.6);
        opacity: .1;
    }

    60% {
        -moz-transform: scale(.8);
        opacity: .3;
    }

    70% {
        -moz-transform: scale(1);
        opacity: .5;
    }

    80% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes wavejg1 {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: .1;
    }

    60% {
        transform: scale(.8);
        opacity: .3;
    }

    70% {
        transform: scale(1);
        opacity: .5;
    }

    80% {
        transform: scale(1.1);
        opacity: .3;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@-webkit-keyframes wavejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(.8);
        opacity: .1;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: .3;
    }

    60% {
        -webkit-transform: scale(1.1);
        opacity: .5;
    }

    80% {
        -webkit-transform: scale(1.2);
        opacity: .3;
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes wavejg2 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -moz-transform: scale(.8);
        opacity: .1;
    }

    50% {
        -moz-transform: scale(1);
        opacity: .3;
    }

    60% {
        -moz-transform: scale(1.1);
        opacity: .5;
    }

    80% {
        -moz-transform: scale(1.2);
        opacity: .3;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes wavejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: .1;
    }

    50% {
        transform: scale(1);
        opacity: .3;
    }

    60% {
        transform: scale(1.1);
        opacity: .5;
    }

    80% {
        transform: scale(1.2);
        opacity: .3;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.processHolder .processSteps {
    text-align: center;
    position: absolute;
}

.processHolder #step1 {
    width: 17%;
    left: -1%;
    top: -32%;
}

.processHolder #step2 {
    width: 20%;
    left: 31%;
    top: 33%;
}

.processHolder #step3 {
    width: 20%;
    left: 51%;
    top: -21%;
}

.processHolder #step4 {
    width: 19%;
    right: -1%;
    top: 17%;
}

.processHolder .processSteps h5 {
    display: block;
    font: 1.875em/1.067em 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
}

.processHolder #step1 h5 {
    color: #01a89d;
}

.processHolder #step2 h5 {
    color: #fdb94d;
}

.processHolder #step3 h5 {
    color: #0095da;
}

.processHolder #step4 h5 {
    color: #b0d461;
}

.processHolder .processSteps p {
    display: block;
    font-size: 1.250em;
    line-height: 1.200em;
    color: #ffffff;
}

.processHolder .processSteps span {
    display: inline-block;
}

.processHolder #step1 span,
.processHolder #step3 span,
.processHolder #step4 span {
    margin-top: 1.250em;
}

.processHolder #step2 span {
    margin-bottom: 1.250em;
}

.processHolder #step1 span:after,
.processHolder #step2 span:before,
.processHolder #step3 span:after,
.processHolder #step4 span:after {
    content: "";
    width: 1px;
    height: 3.5em;
    display: block;
    margin: 0 auto;
}

.processHolder #step1 span:after {
    background-color: #01a89d;
}

.processHolder #step2 span:before {
    background-color: #fdb94d;
}

.processHolder #step3 span:after {
    background-color: #0095da;
}

.processHolder #step4 span:after {
    background-color: #b0d461;
}

.processHolder .processSteps span strong {
    width: 1.833em;
    height: 1.833em;
    display: block;
    font: 1.5em/1.833em 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    color: #282435;
    border-radius: 50%;
}

.processHolder #step1 strong {
    background-color: #01a89d;
}

.processHolder #step2 strong {
    background-color: #fdb94d;
}

.processHolder #step3 strong {
    background-color: #0095da;
}

.processHolder #step4 strong {
    background-color: #b0d461;
}

.mobProcess {
    display: none !important;
    margin-top: 2.5em;
}

.mobProcess .owl-item {
    text-align: center;
}

.mobProcess .owl-item h5 {
    display: block;
    font: 1.875em/1.067em 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
}

.mobProcess .owl-item .mobOne h5 {
    color: #01a89d;
}

.mobProcess .owl-item .mobTwo h5 {
    color: #fdb94d;
}

.mobProcess .owl-item .mobThree h5 {
    color: #0095da;
}

.mobProcess .owl-item .mobFour h5 {
    color: #b0d461;
}

.mobProcess .owl-item p {
    width: 60%;
    margin: 0 auto;
    display: block;
    font-size: 1.250em;
    line-height: 1.200em;
    color: #ffffff;
}

.mobProcess .owl-item img {
    width: 100%;
    height: auto;
    display: block;
}

.mobProcess .owl-controls {
    margin: 0 0 2em 0 !important;
}

.mobProcess .owl-controls .owl-page span {
    width: 2em !important;
    height: 2em !important;
    margin: 0 0.417em !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 50% !important;
    font: 1.5em/1.8em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    color: #fff !important;
    background: none !important;
    opacity: 1 !important;
}

.mobProcess .owl-controls .owl-page.active span {
    color: #282435 !important;
}

.mobProcess .owl-controls .owl-page.active span.one {
    background: #01a89d !important;
}

.mobProcess .owl-controls .owl-page.active span.two {
    background: #fdb94d !important;
}

.mobProcess .owl-controls .owl-page.active span.three {
    background: #0095da !important;
}

.mobProcess .owl-controls .owl-page.active span.four {
    background: #b0d461 !important;
}

.mobProcess .owl-controls .owl-page span.one {
    border-color: #01a89d !important;
}

.mobProcess .owl-controls .owl-page span.two {
    border-color: #fdb94d !important;
}

.mobProcess .owl-controls .owl-page span.three {
    border-color: #0095da !important;
}

.mobProcess .owl-controls .owl-page span.four {
    border-color: #b0d461 !important;
}

#opreating {
    padding: 3.125em 0;
}

#opreating .wrapper {
    text-align: center;
}

#opreating ul {
    margin-top: 0.625em;
}

#opreating ul li {
    width: 49%;
    margin-top: 1.875em;
    position: relative;
}

#opreating ul li:nth-child(odd) {
    float: left;
}

#opreating ul li:nth-child(even) {
    float: right;
}

#opreating ul li img {
    width: 100%;
    height: auto;
    display: block;
}

#opreating ul li h4 {
    width: 100%;
    margin-top: -0.5em;
    font: 3em/1em 'source_sans_prosemibold', Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 2;
}

#opreating ul li span {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
}

#opreating ul li:hover span {
    opacity: 1;
}

/* Results Page */
/*Search_holder*/
.search_holder {
    width: 100%;
    background: #ffffff;
    padding: 0.938em 0;
    box-shadow: 5px 5px 5px #d9d9d9;
}

ul.search_list {
    padding: 0.938em 0;
}

ul.search_list > li {
    min-width: 13.4285714%;
    max-width: 13.4285714%;
    display: block;
    float: left;
    margin-right: 1%;
}

ul.search_list > li:last-child {
    float: right;
    margin: 0;
}

ul.search_list > li.fromTo input {
    width: 100%;
    height: 2.5em;
    padding: 0 1.944em 0 0.833em;
    border: #c4c4c4 1px solid;
    border-radius: 3px;
    font: 1.250em/2.389em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    background: #FFF right center url('../images/combo_arw.png') no-repeat;
    -webkit-background-size: 1.944em auto;
    background-size: 1.944em auto;
}

ul.search_list > li.dateTime .form-group {
    margin-bottom: 0;
    border: #c4c4c4 1px solid;
    border-radius: 3px;
}

ul.search_list > li.dateTime .form-control {
    height: 2.389em;
    padding: 0 0 0 1.111em;
    border: none;
    border-radius: 3px 0 0 3px;
    font: 1.250em/2.389em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    box-shadow: none;
}

ul.search_list > li.dateTime .input-group-addon {
    width: 1.944em;
    height: 2.389em;
    padding: 0;
    border: none;
    border-radius: 0 3px 3px 0;
    font: 1.250em/2.389em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    background: #FFF left center url('../images/combo_arw.png') no-repeat;
    -webkit-background-size: 1.944em auto;
    background-size: 1.944em auto;
}

ul.already_search_list {
    line-height: 3.125em;
    display: none;
}

ul.already_search_list li {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin-right: 4%;
    position: relative;
}

ul.already_search_list li.line:before {
    content: " ";
    position: absolute;
    top: 75%;
    left: -30%;
    width: 6px;
    height: 2px;
    background: #6c7071;
}

ul.already_search_list li p {
    font: 1.5em/1.042em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    color: #6c7071;
}

ul.already_search_list li p span {
    font-size: 0.750em;
}

ul.already_search_list li p.title {
    font-size: 0.5em;
    color: #999999;
    text-transform: uppercase;
    margin-bottom: 0.208em;
}

ul.already_search_list li:last-child {
    margin: 0;
    float: right;
}
/*END Search_holder*/

.page_title {
    margin: 2.813em 0 1.250em;
    position: relative;
}

.page_title .more_btn {
    display: block;
    background: #ffffff;
    padding: 0 0.833em;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    height: 2.5em;
    font: 1.125em/2.5em 'source_sans_prosemibold' ,Arial,Helvetica,sans-serif;
    color: #565a5c;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.5s ease-out 0s;
}

.page_title .more_btn.active {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0.5s ease-out 0s;
}

.page_title .more_btn.active img {
    transform: rotate(90deg);
    transition: all 0.5s ease-out 0s;
}

.page_title .more_btn img {
    margin-right: 0.556em;
    transition: all 0.5s ease-out 0s;
}

/*Filter*/
.filter_dropdown {
    width: 100%;
    padding-bottom: 1.250em;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 2px #d4d4d4;
    position: absolute;
    top: 2.750em;
    left: 0;
    display: none;
    z-index: 1;
}

.filter_dropdown .filter_action .defaultBtn {
    width: 160px;
    margin: 0 1.875em 0 1.250em;
}

ul.filter_cnt_list {
    margin-bottom: 1.563em;
}

ul.filter_cnt_list > li {
    display: block;
    float: left;
    width: 25%;
    border-right: 1px solid #e4e4e4;
}

ul.filter_cnt_list > li:last-child {
}

ul.filter_cnt_list > li .filter_heading {
    border-bottom: 1px solid #d4d4d4;
    padding: 0.938em 1.875em;
}

ul.filter_cnt_list > li .filter_heading p {
    font: 1.125em/1.111em 'source_sans_proregular' ,Arial,Helvetica,sans-serif;
    color: #4d4d4d;
}

ul.filter_cnt_list > li ul.filter_inner_list {
    height: 160px;
    padding: 0.938em 0.625em 0.938em 1.875em;
}

ul.filter_cnt_list > li ul.filter_inner_list li {
    display: block;
    padding: 0.938em 0;
}

ul.filter_cnt_list > li ul.filter_inner_list li .chk01 {
    display: block;
}

ul.filter_cnt_list > li ul.filter_inner_list li span {
    line-height: 0.813em;
    margin-left: 0.938em;
}
/*END Filter*/

.rs {
    font-family: "rupee_foradian",Arial,Helvetica,sans-serif;
    font-size: 0.9em;
}

.pl10 {
    padding-left: 10px;
}

ul.vehicle_list > li {
    display: block;
    background: #ffffff;
    padding: 0.625em;
    width: 32%;
    float: left;
    margin-bottom: 2.188em;
}

ul.vehicle_list > li:nth-child(3n+2) {
    margin: 0 2% 2.188em 2%;
}

ul.vehicle_list > li .img_holder {
    position: relative;
    margin-bottom: 1.250em;
}

ul.vehicle_list > li .img_holder img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

ul.vehicle_list > li .img_holder p {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/vechical_bg.png);
    font: 1.875em/1.167em 'source_sans_prosemibold' ,Arial,Helvetica,sans-serif;
    color: #ffffff;
    padding: 0.167em 0.5em;
    height: 1.5em;
    min-width: 200px;
}

ul.vehicle_list > li .img_holder p span {
    font-family: 'source_sans_proitalic' ,Arial,Helvetica,sans-serif;
    font-size: 0.533em;
    color: #d0d0d0;
}

ul.vehicle_list > li .vechical_cnt {
    margin-bottom: 25px;
}

ul.vehicle_list > li .vechical_cnt h2 {
    font: 1.625em/1.154em 'source_sans_prosemibold' ,Arial,Helvetica,sans-serif;
    color: #222222;
    margin-bottom: 0.577em;
}

ul.vehicle_list > li .vechical_cnt p {
    font: 1em/1.250em 'source_sans_proitalic' ,Arial,Helvetica,sans-serif;
    color: #333333;
}

ul.vehicle_list > li .vechical_decp {
    margin-bottom: 0.625em;
}

ul.vehicle_list > li .vechical_decp .each_row {
    padding: 0.625em;
    border-top: 1px solid #ededed;
}

ul.vehicle_list > li .vechical_decp .each_row > div {
    font: 1em/1.250em 'source_sans_prosemibold' ,Arial,Helvetica,sans-serif;
    color: #b5b5b6;
    width: 45%;
}

ul.vehicle_list > li .vechical_decp .each_row > div span {
    font: 1em/1.250em 'source_sans_prosemibold' ,Arial,Helvetica,sans-serif;
    color: #585f69;
}

ul.vehicle_list > li .vechical_decp .each_row > div .rs {
    font-size: 1em;
    line-height: 1.250em;
    padding-right: 0.313em;
}

/* Footer */
#footer {
    border-top: #e1e1e1 1px solid;
}

#footer .wrapper > div {
    padding: 25px 0;
    border-bottom: #e6e6e6 1px solid;
    text-align: center;
}

#footer .logo {
    width: 136px;
    margin: 10px 0;
}

#footer .logo img {
    width: 100%;
    height: auto;
    display: block;
}

#footer ul.fSocial li {
    float: left;
    margin-left: 20px;
    border: #dedede 2px solid;
    border-radius: 50%;
    transition: all 0.5s;
}

#footer ul.fSocial li:first-child {
    margin-left: 0;
}

#footer ul.fSocial li a {
    display: block;
    padding: 13.5px;
}

#footer ul.fSocial li a img {
    display: block;
}

#footer ul.fSocial li:hover,
#footer ul.fSocial li:active {
    border-color: #f4511e;
}

#footer ul.fNav {
    margin: 16.5px 0;
    display: inline-block;
}

#footer ul.fNav li {
    float: left;
    margin: 0 20px;
}

#footer ul.fNav li:first-child {
    margin-left: 0;
}

#footer ul.fNav li:last-child {
    margin-right: 0;
}

#footer ul.fNav li a {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #164892;
    text-transform: uppercase;
}

#footer ul.fNav li:hover a,
#footer ul.fNav li:active a,
#footer ul.fNav li.active a {
    text-decoration: underline;
}
#footer .wrapper > p {
    display: block;
    padding: 20px 0;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    text-align: center;
    opacity: 0.4;
}
/*main_section*/
.main_section {
    margin: 3.125em 0;
}

.main_section_holder {
    background: #ffffff url(../images/main_bg.png) no-repeat bottom center;
    padding-bottom: 300px;
    margin-top: 0.625em;
}
/*END main_section*/